body  {
  background: orange;

}

.note {
  text-align: right;
  border: 1px solid black;
  display: inline-block;
  margin: 10px 10px;
  height: 200px;
  width: 200px;
}

#remove {
  color: red;
  padding-top: 5px;
  padding-right: 5px;
}

.button {
  height: 100px;
  width: 70px;
}

